<!--
<div class="cn-headerNotice">
  <div class="cn-wrapper cn-headerNotice__wrapper">
    Save 15% off our &ldquo;ready to ship&rdquo; jewelry with code <span>GRATEFUL</span> now through Dec 5. A portion of all sales will be donated to the native <a target="_blank" href="https://www.amahmutsunlandtrust.org/the-tribal-band">amah mutsun land trust</a>.
  </div>
</div>
-->
