<div class="cn-headerNotice">
  <div class="cn-wrapper cn-headerNotice__wrapper">
    We are donating 30% of all sales to <span>Feeding America</span> and <span>Meals on Wheels</span> to support our community while we shelter in place.
    <br/>
    <a href="https://www.instagram.com/p/B-NiEvWhMN1/" target="_blank">Full details here</a>. Thank you so much for your support!
  </div>
</div>