<div class="cn-headerNotice">
  <div class="cn-wrapper cn-headerNotice__wrapper">
    We are donating 10% of all jewelry sales to <span>Feeding America</span> and <span>Meals on Wheels</span> to support our community while we shelter in place. Thank you so much for your support!
  </div>
</div>