<div class="cn-headerNotice">
  <div class="cn-wrapper cn-headerNotice__wrapper">
    The shop is taking a holiday break. <span>All orders placed now will ship after January 15th.</span>
  </div>
</div>