<!--
<div class="cn-headerNotice">
  <div class="cn-wrapper cn-headerNotice__wrapper">
    We're closed for a brief vacation. <span>All orders placed now will ship after June 15, 2018.</span>
    Please <a href="//christynatsumi.com/about#stockists" style="color:#fff">visit our stockists</a> for immediate assistance. Thank you!
  </div>
</div>
-->