{% for link in linklists.main-menu.links %}
  {% if link.url == '/collections/all' and collection.url
     or link.url == '/collections/all' and product.url

  %}
    <li class="active">
      <a href="{{ link.url }}"> {{ link.title }}</a>
    </li>
  {% else %}
    <li class="{% if link.active %}active{% endif %}">
      <a href="{{ link.url }}"> {{ link.title }}</a>
    </li>
  {% endif %}
{% endfor %}