
{% form 'contact' %}
  {% if form.posted_successfully? %}
    <p class="success">Thank you! We will be in contact with you shortly.</p>
    <script>location.href = "#generalinquiries";</script>
  {% endif %}

  {% if form.errors %}
    <p class="error">An error has occurred for the following field(s):</p>
    {{ form.errors | default_errors }}
    <script>location.href = "#generalinquiries";</script>
  {% endif %}

  <div class="field-wrapper">
    <label for="contactFormName">Name*</label>
    <input type="text" id="contactFormName" name="contact[name]" required>
  </div>
  <div class="field-wrapper">
    <label for="contactFormEmail">Email*</label>
    <input type="email" id="contactFormEmail" name="contact[email]" required>
  </div>
  <div class="field-wrapper">
    <label for="contactFormSubject">Subject*</label>
    <input type="text" id="contactFormSubject" name="contact[subject]" required>
  </div>
  <div class="field-wrapper">
    <label for="contactFormMessage">Message*</label>
    <textarea id="contactFormMessage" name="contact[message]" required></textarea>
  </div>
  <div class="field-wrapper extra">
    <label></label>
    <div class="button-container">
      <input type="submit" class="button" id="contactFormSubmit" value="Submit" />
    </div>
  </div>
{% endform %}