<div class="form-wrapper custom-form-wrapper">  
  <div class="form-inner-wrapper">
    {% form 'contact' %}
      <div class="field-list">
        <div class="field-wrapper">
          <label for="contactFormName">Name*</label>
          <input type="text" id="contactFormName" name="contact[name]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormEmail">Email*</label>
          <input type="email" id="contactFormEmail" name="contact[email]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormLocation">Location*</label>
          <input type="text" id="contactFormLocation" name="contact[location]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormLocation">Shipping Location</label>
          <input type="text" id="contactFormLocation" name="contact[shipping-location]" placeholder="If different from above">
        </div>
        <div class="field-wrapper">
            <label for="contactFormPhone">Phone*</label>
            <input type="tel" id="contactFormPhone" name="contact[phone]" required>
        </div>
        <div class="field-wrapper">
            <label for="contactFormOccasion">Occasion*</label>
            <input type="text" id="contactFormOccasion" name="contact[occasion]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormJewelryType">Jewelry Type*</label>
          <select id="contactFormJewelryType" name="contact[jewelry-type]">
            <option value="Ring">Ring</option>
            <option value="Necklace">Necklace</option>
            <option value="Earrings">Earrings</option>
            <option value="Bracelet">Bracelet</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormMetalType">Metal Type*</label>
          <select id="contactFormMetalType" name="contact[metal-type]">
            <option value="14K Yellow Gold">14K Yellow Gold</option>
            <option value="14K Rose Gold">14K Rose Gold</option>
            <option value="14K White Gold">14K White Gold</option>
            <option value="18K Yellow Gold">18K Yellow Gold</option>
            <option value="18K Rose Gold">18K Rose Gold</option>
            <option value="18K White Gold">18K White Gold</option>
            <option value="Platinum">Platinum</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormStoneType">Stone Type*</label>
          <select id="contactFormStoneType" name="contact[stone-type]">
            <option value="Not Applicable">Not Applicable</option>
            <option value="Diamond">Diamond</option>
            <option value="Sapphire">Sapphire</option>
            <option value="Ruby">Ruby</option>
            <option value="Birthstone">Birthstone</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormDescription">Description*</label>
          <textarea id="contactFormDescription" name="contact[description]" required placeholder="Please let us know what type of customized/custom work you are interested in. The more details you can provide, the better we can assist you!"></textarea>
        </div>
        <div class="field-wrapper">
          <label for="contactFormDate">Deadline*</label>
          <input type="text" id="contactFormDeadline" name="contact[deadline]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormBudget">Budget range*</label>
          <select id="contactFormBudget" name="contact[budget]">
            <option value="$2500-$4000">$2500-$4000</option>
            <option value="$4000-$6000">$4000-$6000</option>
            <option value="$6000-$8000">$6000-$8000</option>
            <option value="$8000-$10000">$8000-$10000</option>
            <option value="$10000+">$10000+</option>
          </select>
        </div>
        <div class="field-wrapper extra">
          <label for="contactFormCheckbox">Agree to Terms*</label>
          <div class="checkbox-container">
            <input type="checkbox" id="contactFormCheckbox" name="contact[checkbox]" required value="Yes, I’ve read and understood the terms and conditions of working with Christy Natsumi on a customized, custom, or redesigned jewelry project, as outlined below.">
            <p>
              Yes, I’ve read and understood the terms and conditions of working with Christy Natsumi on a customized, custom, or redesigned jewelry project, as outlined below.
            </p>
          </div>
        </div>

        {% if form.posted_successfully? %}
          <p class="success">Thank you! We will be in contact with you shortly.</p>
        {% endif %}

        {% if form.errors %}
          <p class="error">Sorry, something went wrong. Please try again or email <a href="mailto:natsumi@christynatsumi.com">natsumi@christynatsumi.com</a></p>
        {% endif %}

        <div class="field-wrapper extra">
          <label></label>
          <div class="button-container">
            <input type="submit" class="button" id="contactFormSubmit" value="Submit" />
          </div>
        </div>
      </div>
    {% endform %}
  </div>
</div>