<div class="form-wrapper custom-form-wrapper">  
  <div class="form-inner-wrapper">
    {% form 'contact' %}

      {% if form.posted_successfully? %}
        <p class="success">Thank you! We will be in contact with you shortly.</p>

        <script>
          // bizarre workaround because chrome is not autoscrolling when both a url param and #anchor are in url.
          window.onload = function() {
            setTimeout(function(){
              console.log(2);
              document.getElementById('howtoorder').scrollIntoView(true);
            }, 100);
          }
        </script>
      {% endif %} 
      
      {% if form.errors %}
        <p class="error">Sorry, something went wrong. Please try again or email <a href="mailto:natsumi@christynatsumi.com">natsumi@christynatsumi.com</a></p>

        // bizarre workaround because chrome is not autoscrolling when both a url param and #anchor are in url.
        window.onload = function() {
          setTimeout(function(){
            console.log(2);
            document.getElementById('howtoorder').scrollIntoView(true);
          }, 100);
        }
      {% endif %}

      <div class="field-list">
        <div class="field-wrapper">
          <label for="contactFormName">Name*</label>
          <input type="text" id="contactFormName" name="contact[name]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormEmail">Email*</label>
          <input type="email" id="contactFormEmail" name="contact[email]" required>
        </div>
        <div class="field-wrapper">
          <label for="contactFormLocation">Location*</label>
          <input type="text" id="contactFormLocation" name="contact[location]" required>
        </div>
        <div class="field-wrapper">
            <label for="contactFormPhone">Phone*</label>
            <input type="tel" id="contactFormPhone" name="contact[phone]" required>
        </div>
        <div class="field-wrapper">
            <label for="contactFormOccasion">Occasion*</label>
            <textarea id="contactFormOccasion" name="contact[occasion]" required></textarea>
        </div>
        <div class="field-wrapper">
          <label for="contactFormInterest">Interest*</label>
          <select id="contactFormInterest" name="contact[interest]">
            <option value="Ring">Ring</option>
            <option value="Necklace">Necklace</option>
            <option value="Earrings">Earrings</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormRequest">Service requested*</label>
          <select id="contactFormRequest" name="contact[request]">
            <option value="Customization">Customization</option>
            <option value="Heirloom Redesign">Heirloom Redesign</option>
            <option value="Full Custom Design">Full Custom Design</option>
            <option value="Diamond/Gem Sourcing">Diamond/Gem Sourcing</option>
            <option value="Combination of above – Please explain below">Combination of above – Please explain below</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormDescription">A short description of the jewelry you’d like*</label>
          <textarea id="contactFormDescription" name="contact[description]" required></textarea>
        </div>
        <div class="field-wrapper">
          <label for="contactFormBudget">Budget range*</label>
          <select id="contactFormBudget" name="contact[budget]">
            <option value="$2500-$4000">$2500-$4000</option>
            <option value="$4000-$6000">$4000-$6000</option>
            <option value="$6000-$8000">$6000-$8000</option>
            <option value="$8000-$10000">$8000-$10000</option>
            <option value="$10000+">$10000+</option>
          </select>
        </div>
        <div class="field-wrapper">
          <label for="contactFormDate">When would you ideally like your jewelry by?*</label>
          <input type="text" id="contactFormDate" name="contact[date]" required>
        </div>

        <div class="field-wrapper extra">
          <label for="contactFormCheckbox">Agree to Terms*</label>
          <div class="checkbox-container">
            <input type="checkbox" id="contactFormCheckbox" name="contact[checkbox]" required value="Yes, I’ve read and understood the terms and conditions of working with Christy Natsumi on a customized, custom, or redesigned jewelry project, as outlined below.">
            <p>
              Yes, I’ve read and understood the terms and conditions of working with Christy Natsumi on a customized, custom, or redesigned jewelry project, as outlined below.
            </p>
          </div>
        </div>

        <div class="field-wrapper extra">
          <label></label>
          <div class="button-container">
            <input type="submit" class="button" id="contactFormSubmit" value="Submit" />
          </div>
        </div>

      </div>
    {% endform %}
  </div>
</div>