{% assign is_wholesale = false %}
{% if shop.url contains "wholesale" %}
  {% assign is_wholesale = true %}
{% endif %}


<header class="cnew-header-mobile {% if is_wholesale %} cnew-header-mobile--wholesale{% endif %}">
  <div class="cnew-header-mobile__navbtn">
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--hamburger active"></div>
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--close"></div>
  </div>
  <a href="{{ shop.secure_url }}" class="cnew-header-mobile__logo" alt="Christy Natsumi Jewelry Home">
  </a>
  <a href="{{ shop.secure_url }}/cart" class="cnew-header-mobile__cart">
    {% if cart.item_count > 0 %}
      <div class="cnew-header-mobile__cart__count">
        {{ cart.item_count }}
      </div>
    {% endif %}
  </a>
</header>


<div class="cnew-header-mobile-drawer">
  <div class="cnew-header-mobile-drawer__content">
    {% include 'navigation-mobile' %}
  </div>
</div>