<header class="cnew-header-mobile">
  <div class="cnew-header-mobile__navbtn">
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--hamburger active"></div>
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--close"></div>
  </div>
  <a href="/" class="cnew-header-mobile__logo" alt="Christy Natsumi Jewelry">
  </a>
  <a href="/cart" class="cnew-header-mobile__cart">
    {% if cart.item_count > 0 %}
      <div class="cnew-header-mobile__cart__count">
        {{ cart.item_count }}
      </div>
    {% endif %}
  </a>
</header>


<div class="cnew-header-mobile-drawer">
  <div class="cnew-header-mobile-drawer__content">

    {% include 'navigation-mobile' %}

  </div>
</div>