<header class="cnew-header-mobile">
  <div class="cnew-header-mobile__navbtn">
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--hamburger active"></div>
    <div class="cnew-header-mobile__navbtn__icon cnew-header-mobile__navbtn__icon--close"></div>
  </div>
  <a class="cnew-header-mobile__logo">
  </a>
  <a class="cnew-header-mobile__cart">
    {% if cart.item_count > 0 %}
      <div class="cnew-header-mobile__cart__count">
        {{ cart.item_count }}
      </div>
    {% endif %}
  </a>
</header>

<div class="cnew-header-mobile-drawer">
  <div class="cnew-header-mobile-drawer__content">

    <a href="#" class="cnew-header-mobile-drawer__content__main">wedding</a>
    <a href="#">engagement rings</a>
    <a href="#">wedding bands</a>
    <a href="#">men's</a>
    <a href="#">best sellers</a>

    <a href="#" class="cnew-header-mobile-drawer__content__main">jewelry</a>
    <a href="#">rings</a>
    <a href="#">necklaces</a>
    <a href="#">earrings</a>
    <a href="#">gift cards</a>
    <a href="#">best sellers</a>
    <a href="#">sale</a>

    <a href="#" class="cnew-header-mobile-drawer__content__main">custom</a>
    <a href="#">custom services</a>
    <a href="#">gallery</a>
    <a href="#">the process</a>
    <a href="#">testimonials</a>
    <a href="#">faq</a>
    <a href="#">order form</a>

    <div class="cnew-header-mobile-drawer__content__divider"></div>

    <a href="#" class="cnew-header-mobile-drawer__content__nosubnav">about</a>
    <a href="#" class="cnew-header-mobile-drawer__content__nosubnav">contact</a>
  </div>
</div>