<!-- /templates/404.liquid -->
<main class="main--top main--bottom cn-wrapper cn-wrapper--narrow">
  <div class="emptyPage">
    <h1>Page Not Found</h1>
      <p>The page you requested does not exist.</p>
    <a class="button" href="/collections/all">see all jewelry</a>
  </div>
</main>