<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}



<script>
  // hacking lazy loading within shopify


  var requestInFlight = false;

  function handleScroll() {
    if ($('.pagination').length < 1) {
      // this page has no pagination, no need to lazyload
      return false
    }

    if( window.pageYOffset > $('.pagination').offset().top - window.innerHeight ) {
      scrollNode = $('.next').last();
      scrollURL = scrollNode.children('a').attr('href');

      if(scrollNode.length > 0 && scrollNode.css('display') != 'none' && !requestInFlight) {
        requestInFlight = true;

        $.ajax({
          type: 'GET',
          url: scrollURL,
          success: function(data) {
            $('.pagination').remove();

            var filteredData = $(data).find('.cn-categoryproduct');
            var pagination = $(data).find('.pagination');
            $('main').append(filteredData);
            $('main').append(pagination);
          },
          complete: function() {
            requestInFlight = false;
          },
          dataType: "html"
        });
      }
    }
  }

   $(document).ready(function () {
     $(window).scroll(function(){
       handleScroll();
     });
   });
</script>



<main class="main--top main--bottom cn-wrapper">
  <h1>{{ collection.title }}</h1>

  {% paginate collection.products by 48 %}

    {% for product in collection.products %}
      {% include 'product-grid-item' %}
    {% endfor %}

  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}
  {% endpaginate %}
</main>