<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}



<script>
  var requestInFlight = false;

  function handleScroll() {

    if( window.pageYOffset > $('.pagination').offset().top - window.innerHeight ) {
      scrollNode = $('.next').last();
      scrollURL = scrollNode.children('a').attr('href');

      if(scrollNode.length > 0 && scrollNode.css('display') != 'none' && !requestInFlight) {
        requestInFlight = true;

        $.ajax({
          type: 'GET',
          url: scrollURL,
          success: function(data) {
            $('.pagination').remove();

            var filteredData = $(data).find('.cn-categoryproduct');
            var pagination = $(data).find('.pagination');
            $('main').append(filteredData);
            $('main').append(pagination);
          },
          complete: function() {
            requestInFlight = false;
          },
          dataType: "html"
        });
      }
    }
  }

   $(document).ready(function () {
     $(window).scroll(function(){
       handleScroll();
       //$.doTimeout( 'scroll', 200, ScrollExecute);
     });
   });
</script>



<main class="cn-wrapper cn-wrapper--top">
  {% paginate collection.products by 48 %}

    {% for product in collection.products %}
      {% if product.type != 'Gift Card' %}
        {% include 'product-grid-item' %}
      {% endif %}
    {% endfor %}

  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}
  {% endpaginate %}
</main>


{{ 'lazysizes.min.js' | asset_url | script_tag }}
