<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
  - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<main>


  <a class="cn-home__hero" href="/collections/all">
    <div class="cn-home__hero__text">
      <div class="cn-home__hero__text__intro">Fine Jewelry</div>
      <div class="cn-home__hero__text__subhead">designed and crafted <br/>in san francisco</div>
    </div>
  </a>


  <div class="cn-home__wedding-rings">
    <a class="cn-home__wedding-rings__img" href="/collections/wedding-bands"></a>
    <div class="cn-home__wedding-rings__text">
      <div class="cn-home__wedding-rings__text__title">
        Wedding<br/> Rings
      </div>
      <a class="button" href="wedding-bands">explore</a>
    </div>
  </div>


  <div class="cn-homelink cn-home__new-arrivals">
    <a class="cn-home__new-arrivals__img" href="/collections/mens"></a>
    <div class="cn-home__new-arrivals__text">
      <div class="cn-home__new-arrivals__text__title">
        Men’s<br/> Rings
      </div>
      <a class="button" href="/collections/mens">for every taste</a>
    </div>
  </div>


  <div class="cn-home__customer-favorites">
    <div class="cn-home__customer-favorites__text">
      Customer Favorites
    </div>
    <div class="cn-home__customer-favorites__imgs">
      <div class="cn-wrapper">
        {% assign counter = 0 %}
        {% for product in collections.customer-favorites.products %}
          {% include 'product-grid-item' %}

          {% assign counter = counter | plus: 1 %}
          {% if counter == 4 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a class="button" href="/collections/customer-favorites">see more customer favorites</a>
  </div>


  <div class="cn-home__custom-jewelry">
    <div class="cn-home__custom-jewelry__text">
      <div class="cn-home__custom-jewelry__text__title">
        View the<br/> Collection<br/>
      </div>

      <a class="button" href="/collections/all">made in san francisco</a>
    </div>
    <a class="cn-home__custom-jewelry__img" href="/collections/all"></a>
  </div>


  {% include 'featuredin' %}


</main>