<!-- /templates/page.faq.liquid -->
<main class="main--top main--bottom cn-wrapper cn-wrapper--narrow">
  <h1>Frequently Asked Questions</h1>


  <p>
    Welcome to the website of Christy Natsumi Jewelry. By purchasing from us, you are supporting a small business that works with artisans and skilled goldsmiths in San Francisco, CA and with a network of US based suppliers.
  </p>
  <p>
    The following terms and conditions govern your access to and use of christynatsumi.com, including any content, functionality and services offered on or through our Website.
  </p>
  <p>
    Please read the Terms of Use carefully before you start to use the Website. By using the Website or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use and our Privacy Policy, found below. If you do not want to agree to these Terms of Use or the Privacy Policy, you must not access or use the Website.
  </p>
  <p>
    This Website is offered and available to users who are 18 years of age or older and reside in the United States or any of its territories or possessions.
  </p>
  <p>
    All purchases through our Website or as a result of visits made by you to our Website are governed by the following terms:
  </p>


  <h3>Order to Shipping Timeline</h3>
  <p>
    In most cases our jewelry is made to order. From order, creation, to shipment, we ask up to 10-15 business days for delivery on production styles. Need it sooner? We will do our best to accommodate rush deliveries whenever possible. Don’t hesitate to ask.
  </p>
  <p>
    Please note that custom and customized jewelry will require 4-8 weeks for creation and delivery.
  </p>


  <h3>Sales Tax</h3>
  <p>
    Sales tax of 8.50% will be charged for California residents.
  </p>


  <h3>Customization</h3>
  <p>
    Our jewelry can be personalized to your needs including ring sizes, chain lengths, and metal and/or gemstone options. Please <a href="/pages/contact">contact us</a> to discuss how you would like to customize a piece of jewelry from our site. Additional fees may apply. All sales are final for customized pieces.
  </p>


  <h3>Payment</h3>
  <p>
    All payments are processed via credit card. Payment is expected at time of purchase. We do not offer payment plans.
  </p>


  <a class="cn-anchor" name="shipping"></a>
  <h3>Shipping</h3>
  <p>
    Most items will be shipped via USPS Priority Mail. Signature confirmation is mandatory for all orders and included in the flat shipping rate. Additional shipping fees apply for custom, customized, and orders over $500 that will be shipped USPS overnight. Please note that once delivery is confirmed through the carrier, neither Christy Natsumi or USPS is responsible for the security of the jewelry mailed.
  </p>
  <p>
    Expedited shipping is available upon request, <a href="/pages/contact">please contact us</a>.
  </p>
  <p>
    International shipping is available for select countries. Please note any taxes, duties, and customs fees associated with shipping outside of the United States are the sole responsibility of the purchaser. <a href="/pages/contact">Contact us here</a> for further information.
  </p>


  <a class="cn-anchor" name="returnsandexchanges"></a>
  <h3>Returns and Exchanges</h3>
  <p>
    If you are not satisfied with your purchase, merchandise in new and unworn condition, in it's original packaging may be returned within seven days of receipt, excluding shipping costs. Customers are responsible for return shipping. Please note that we are not responsible for lost or stolen items in the mail. When returning your merchandise we strongly suggest adding insurance to the shipment for the dollar amount of the merchandise.
  </p>
  <p>
    Custom and customized jewelry, sale items, and any rings in special sizes are non-refundable.
  </p>
  <p>
    Please <a href="/pages/contact">contact us</a> for a return authorization code. Returned merchandise without a code will not be accepted.
  </p>


  <a class="cn-anchor" name="repairs"></a>
  <h3>Repairs</h3>
  <p>
    We pride ourselves in creating high quality jewelry and meticulously check each piece before shipping. However, jewelry worn everyday requires maintenance just like anything else. If your jewelry needs repairs, we are happy to be of assistance for any product purchased through ChristyNatsumi.com. Additional cost may be required depending on the nature of the repair. Customers are responsible for shipping costs. Please <a href="/pages/contact">contact us</a> for further information.
  </p>


  <h3>Custom, Personalized, and Special Occasion Jewelry</h3>
  <p>
    Christy Natsumi offers custom jewelry creation, design assistance, and stone sourcing consultations. Check out our custom orders page for more information. (Please note all custom orders are subject to our custom jewelry contract that will be provided to you.)
  </p>


  <p>
    To view our full Terms of Service and Privacy Policy please <a href="/pages/privacy-policy">click here</a>.
  </p>
</main>