<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
  - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<main class="main--top main--bottom cn-wrapper">
  <div class="row row--contact">
    <div class="half">
      <div class="cn-contactpage__map">

      </div>
    </div>
    <div class="half">

      <p>Christy Natsumi's workshop is located in Santa Cruz, CA. Due to COVID-19, we are not meeting with customers locally. Christy is happy to schedule a virtual appointment to help answer any questions or plan out a customization of any designs offered on our site. Please fill out the form below; we're looking forward to connecting with you!</p>

      <a class="cn-anchor" name="generalinquiries"></a>
      <h3>general inquiries:</h3>
      {% section 'contact-form' %}

      <div class="row row--contact">
        <h3>Also View and Purchase At:</h3>

        <h4>Altana</h4>
        <p>
          510-499-6989
          <br/>
          4206 Piedmont Ave
          <br/>
          Oakland, CA 94611
        </p>

        <h4><a href="https://www.zaverandmor.com/" target="_blank">Zaver &amp; Mor</a></h4>
        <p>
          510-984-1291
          <br/>
          2111-E Vine Street
          <br/>
          Berkeley, CA 94709
        </p>

        <h4><a href="https://shopshelter.com" target="_blank">Shop Shelter</a></h4>
        <p>
          202-548-0011
          <br/>
          1258 5th St NE
          <br/>
          Washington, DC 20002
        </p>
      </div>

    </div>
  </div>
</main>
