<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
  - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<main class="main--top main--bottom cn-wrapper contact--wrapper">
  <div class="row row--contact">
    <div class="half">
      <div class="cn-contactpage__map">
        <iframe class="cn-imageFrame" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuZnvE4aAhYAR9MpkvyAS0GE&key=AIzaSyBbZBPbff_EsjzSW1RMbGV1Y6AsAp4Gs0o"></iframe>
      </div>
    </div>
    <div class="half">

      <p>Christy Natsumi's workshop is located in downtown San Francisco, CA. Consultation and private workshop visits are available by appointment only (no walk ins will be accepted). Looking forward to connecting with you!</p>

      <div class="row row--contact">
        <h3>Looking for custom jewelry?</h3>
        <span>see how to order</span>
        <a class="button  " href="/pages/custom/#howtoorder">custom jewelry</a>
      </div>

      <a class="cn-anchor" name="generalinquiries"></a>
      <h3>general inquiries:</h3>
      {% section 'contact-form' %}

      <div class="row row--contact">
        <h3>Also View and Purchase At:</h3>
        <h4><a href="https://www.crown-nine.com/collections/christy-natsumi" target="_blank">Crown Nine</a></h4>
        <p>
          Downtown Oakland, California
        </p>
        <h4><a href="http://www.gallery-of-jewels.com/jewelry-designers/christy-natsumi" target="_blank">Gallery of Jewels - Fillmore Street</a></h4>
        <p>
          Fillmore &amp; California, San Francisco, California <span class="cn-note">(bridal jewelry only)</span>
        </p>
        <h4><a href="https://www.google.com/maps/place/Zaver+%26+Mor/@37.8804668,-122.2708367,17z/data=!4m13!1m7!3m6!1s0x80857ea6d3970a21:0x7c4fa2d83692a742!2s2111+Vine+St+e,+Berkeley,+CA+94709!3b1!8m2!3d37.8804668!4d-122.268648!3m4!1s0x80857ea6d3dd62cd:0xd2b701d4a7c27b43!8m2!3d37.8803993!4d-122.2686217" target="_blank">Zaver &amp; Mor</a></h4>
        <p>
          Downtown Berkeley, California
        </p>
      </div>

    </div>
  </div>
</main>
