.cn-about__hero {
  margin-bottom: 64px;

  img {
    width: 100%;
  }
}


p.cn-about__membership-badges {
  text-align: center;

  @media (min-width: $screen-desktop) {
    text-align: left;
  }

  a {
    text-decoration: none;
    margin-right: 16px;
  }
}


.cn-about__membership-badges__sfenv {
  width: 120px;

  @media (min-width: $screen-tablet) {
    width: 160px;
  }
}

.cn-about__membership-badges__sfmade {
  width: 50px;

  @media (min-width: $screen-tablet) {
    width: 80px;
  }
}

.cn-about__membership-badges__ethical {
  width: 70px;

  @media (min-width: $screen-tablet) {
    width: 100px;
  }
}