/* establish rules how each column */

@mixin imgFlex {
  flex: 0 0 76%;
  margin: 8px 12% 24px 12%;

  @media screen and (min-width: $screen-tablet) {
    flex: 1 1 180px;
    margin: 0;
  }

  @media screen and (min-width: $screen-desktop) {
    flex: 1 1 240px;
    margin-left: 16px;
  }
}

@mixin descFlex {
  flex: 0 1 100%;
  margin-left: 8px;

  @media screen and (min-width: $screen-tablet) {
    flex: 2 1 160px;
  }
  @media screen and (min-width: $screen-desktop) {
    margin-left: 32px;
  }
}

@mixin qtyFlex {
  flex: 0 0 88px;
  margin-left: 8px;

  @media screen and (min-width: $screen-tablet) {
    //margin-left: 16px;
  }
  @media screen and (min-width: $screen-desktop) {
    flex: 0 0 128px;
    margin-left: 16px;
  }
}

@mixin priceFlex {
  flex: 0 0 88px;
  margin-right: 8px;
  text-align: right;

  @media screen and (min-width: $screen-tablet) {
    margin-right: 0;
    margin-left: 8px;
  }

  @media screen and (min-width: $screen-desktop) {
    flex: 0 0 128px;
    margin-left: 16px;
  }
}




.cart__empty {
  margin-bottom: 128px;
  text-align: center;

  p {
    text-align: center;
  }
}


.cart__header {
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 100%;
  align-items: center;

  * { display: none; } // no column headers on mobile but we want the border

  @media screen and (min-width: $screen-tablet) {
    * { display: block; }

    @include lightSubHeader;
    padding-bottom: 8px;
    font-size: 12px;
  }

  @media screen and (min-width: $screen-desktop) {
    padding-left: 48px; //space for x btn
  }
}

.cart__header__img   { @include imgFlex;   }
.cart__header__desc  { @include descFlex;  }
.cart__header__qty   { @include qtyFlex;   }
.cart__header__price { @include priceFlex; }

.cart__item {
  display: flex;
  width: 100%;
  align-items: center;

  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 32px 0;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $screen-tablet) {
    padding: 16px 0;
    height: 224px;
    flex-wrap: nowrap;
  }

  @media screen and (min-width: $screen-desktop) {
    height: 280px;
  }
}

.cart__item__remove {
  width: 48px;
  height: 48px;
  background-image: url('christy-natsumi-icon-close.png');
  background-size: 100%;
  opacity: 0.4;
  @include fx-allFast;
  position: absolute;
  z-index: 1;

  top: 16px;
  right: -8px;

  @media screen and (min-width: $screen-tablet) {
    top: 0;
    left: 0;
    right: auto;
  }

  @media screen and (min-width: $screen-desktop) {
    flex: 0 0 48px;
    position: static;

    &:hover {
      opacity: 1;
    }
  }
}

.cart__item__img {
  @include imgFlex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  img {
    max-height: 328px;
    max-width: 328px;

    @media screen and (min-width: $screen-tablet) {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &:after {
    @include cn-vignette;
  }

  order: 2;
  @media screen and (min-width: $screen-tablet) {
    order: 0;
    height: 100%;
  }
}

.cart__item__desc {
  @include descFlex;

  order: 1;
  @media screen and (min-width: $screen-tablet) {
    order: 0;
    text-align: left;
  }
}

.cart__item__desc__title {
  @include subHeader;
  text-decoration: none;
  color: #444;
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 18px;
  @media screen and (min-width: $screen-desktop) {
    font-size: 16px;
    line-height: 20px;
  }
}

.cart__item__desc__variant {
  @include defaultText;
  display: block;
}

.cart__item__qty {
  @include qtyFlex;
  position: relative;
  order: 3;

  &:after {
    content: 'qty';
    position: absolute;
    bottom: 100%;
    @include lightSubHeader;
    font-size: 12px;
    left: 0;
  }

  input {
    height: 40px;
  }

  @media screen and (min-width: $screen-tablet) {
    order: 0;

    &:after { display: none; }
    input { height: 48px; }
  }
}

.cart__item__price {
  @include priceFlex;
  @include defaultText;

  order: 4;
  @media screen and (min-width: $screen-tablet) {
    order: 0;
  }
}


.cart__subtotal {
  margin: 64px 0;
  display: flex;
  justify-content: flex-end;
}
.cart__subtotal__label {
  @include priceFlex;
  @include subHeader;
  font-size: 16px;
  text-align: left;
}
.cart__subtotal__price {
  @include priceFlex;
  @include defaultText;
  font-weight: bold;
  text-align: right;
}


.cart__checkout {
  display: flex;
  justify-content: flex-end;

  // treating these buttons just a bit differently from the rest because they still look good on one line on a 320px screen
  button {
    padding-left: 0;
    padding-right: 0;
    flex: 1 1 1px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;

    &:first-child {
      margin-right: 16px;
    }
  }
}