.cn-home__featured-in {
  @include serifHeader;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 64px 0;
}

.cn-home__featured-in__wrapper {
  @extend .cn-wrapper;
  display: flex;
  //flex-wrap: wrap-reverse;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 64px;
}

.cn-home__featured-in__wrapper__item {
  @include fx-allFast;
  flex: 0 1 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  height: 64px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
