@font-face {
  font-family: 'proxima nova';
  src: url('font_proxima_nova_regular.woff2') format('woff2'),
  url('font_proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova';
  src: url('font_proxima_nova_semibold.woff2') format('woff2'),
  url('font_proxima_nova_semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'proxima nova';
  src: url('font_proxima_nova_light.woff2') format('woff2'),
  url('font_proxima_nova_light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'ahpuch apollyon';
  src: url('font_AhpuchApollyon.woff2') format('woff2'),
  url('font_AhpuchApollyon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ahpuch apollyon';
  src: url('font_AhpuchApollyon_italic.woff2') format('woff2'),
  url('font_AhpuchApollyon_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}



@mixin proximaNova { //should only be applied to element that needs the font, otherwise children will inherit letter-spacing
  font-family: 'proxima nova', Helvetica, Arial, sans-serif !important;
}


@mixin lightSubHeader {
  font-family: 'proxima nova', Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: lighter;

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: auto;
}


@mixin subHeader {
  font-family: 'proxima nova', Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


@mixin serifHeader {
  font-family: 'ahpuch apollyon', serif;
  font-weight: normal;
  color: #666;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $screen-tablet) {
    font-size: 48px;
    line-height: 44px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 72px;
    line-height: 64px;
  }
}


@mixin serifItalic {
  font-family: 'ahpuch apollyon', serif;
  font-weight: normal;
  font-style: italic;
  color: #666;
  font-size: 28px;
  //line-height: 24px;

  @media (min-width: $screen-tablet) {
    font-size: 32px;
    //line-height: 28px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 36px;
    //line-height: 32px;
  }
}


@mixin defaultText {
  font-family: 'proxima nova', Helvetica, Arial, sans-serif;
  //text-align: left;
  font-size: 16px;
  color: #444;
}




// for all page headers
h1 {
  @include serifHeader;
  text-align: center;
  margin-bottom: 48px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 64px;
  }
  @media (min-width: $screen-desktop) {
    margin-bottom: 96px;
  }
}


//to divide majors sections in a page
h2 {
  @include lightSubHeader;
  font-size: 32px;
  margin: 3rem 0 1.5rem 0;

  @media (min-width: $screen-tablet) {
    font-size: 48px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 60px;
  }
}


//for subheaders in a subsection
h3 {
  @include lightSubHeader;
  font-size: 24px;
  margin: 8px 0;

  @media (min-width: $screen-tablet) {
    font-size: 24px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 28px;
  }
}



//to emphasize the title of something in a subsection (business link in about page)
h4 {
  @include subHeader;
  font-size: 16px;
  line-height: 3rem;
  margin: 0;
}

p, ul, ol {
  @include defaultText;
  line-height: 30px;
  margin: 0 0 30px 0;
}

