.cn-footer {
  border-top: 2px solid #000;
  background-color: #222;
  overflow: hidden;
  color: #666;


  padding: 6rem 0 8rem 0;
  @media (min-width: $screen-desktop) {
    padding: 12rem 0 6rem 0;
  }


  h3 {
    margin-top: 0;
    font-size: 2.4rem;
    @media (min-width: $screen-tablet) {
      font-size: 2rem;
    }
    @media (min-width: $screen-desktop) {
      font-size: 2.4rem;
    }
  }

  a {
    color: #666;
    text-decoration: none;
    @include fx-allFast;
  }
  a:hover { color: #eee; }
  p a { display: block; }
  p { color: #444; }




  @media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
    .cn-footer__social {
      text-align: right;
      float: right;
    }
    .cn-footer__social a:last-child {
      margin-right: 0.75rem;
    }
  }

}






.row .cn-footer__links {
  display: none;

  @media (min-width: $screen-tablet) {
    display: inline-block;
    border-bottom: 1px solid #666;
    margin-bottom: 2rem;
  }
  @media (min-width: $screen-desktop) {
    border-bottom: none;
    margin-bottom: 0;
  }
}


.cn-footer__legal {
  margin-bottom: 0;
  line-height: 1.8rem;
  font-size: 1.4rem;
  margin-top: 2rem;
}



.cn-footer__social {
  margin-top: 2.5rem;
  display: inline-block;
  vertical-align: top;

  a {
    border-radius: 50%;
    background-color: #444;
    display: inline-block;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0;
  }
  a:last-child {
    margin-right: 0;
  }

  img {
    width: 4.4rem;
    height: 4.4rem;
  }
}




.cn-emailForm {
  margin-top: 16px;
}
.cn-emailForm input {
  width: 66%;
  margin-bottom: 0;
}
.cn-emailForm input label {
  opacity: 0.5;
}
.cn-emailForm input[type=submit] {
  margin-left: 2%;
  width: 32%;
  padding: 0;
  min-width: auto;
}

@media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
  .cn-emailForm {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
  }
}
