form {
  width: 100%;

  p.success {
    color: green;
    background: lightgreen;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
  }

  p.error {
    color: darkred;
    background: lightpink;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
  }
}

select, input, textarea {
  @include defaultText;
  min-width: 88px;
  height: 48px;
  padding: 13px 16px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid $border-color;
}

select {
  cursor: pointer;
  position: relative;
  padding: 0 48px 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("{{ 'icon--select-arrow.png' | asset_url }}");
  background-position: calc(100% - 16px);
  background-size: 12px 6px;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

textarea {
  min-height: 160px;
}

button, .button {
  @include subHeader;
  @include fx-allFast;
  border-radius: 0;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  padding: 12px 32px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #666;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $btn-highlight;
  }

  &.button--dark {
    background-color: #444;
    color: #FFF;
    border-color: #000;

    &:hover {
      color: $btn-highlight-dark;
    }
  }

  &.button--footer {
    &:hover {
      color: $btn-highlight-dark;
      border-color: $btn-highlight-dark;
      background-color: transparent;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }


  @media screen and (min-width: $screen-tablet) {
    min-width: 184px;
  }
}




// NOT used on product page because that layout varies from normal form fields
// (no inputs or textareas on the product page allow for a more condensed form layout)
.field-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  min-height: 48px;
  align-items: center;

  flex-wrap: wrap;
  @media (min-width: $screen-tablet) {
    flex-wrap: nowrap;
    margin-bottom: 8px;
  }

  &.extra {
    margin-top: 24px;
  }

  label {
    @include subHeader;
    font-size: 12px;
    flex: 0 0 100%;
    position: relative;
    margin-right: 8px;

    @media (min-width: $screen-tablet) {
      font-size: 14px;
      flex: 1 0 88px;
    }
  }

  input, textarea, select, div {
    flex: 0 0 100%;
    @media (min-width: $screen-tablet) {
      flex: 3 1 200px;
    }
  }

  .button-container {
    text-align: center;
  }
  .checkbox-container {
    display: flex;
    align-items: center;

    input {
      flex: 0 0 32px;
    }
    p {
      flex: 1 1 100px;
      margin-bottom: 0;
    }
  }
}