select, input, textarea {
  @include defaultText;
  min-width: 88px;
  height: 48px;
  padding: 0 16px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid $border-color;
}

select {
  position: relative;
  padding: 0 48px 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('select-arrow-2.png');
  background-position: calc(100% - 16px);
  background-size: 12px 6px;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

textarea {
  min-height: 160px;
}

button, .button {
  @include subHeader;
  @include fx-allFast;
  border-radius: 0;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  padding: 12px 32px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #666;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $btn-highlight;
  }

  &.dark {
    background-color: #444;
    color: #FFF;
    border-color: #000;

    &:hover {
      color: $btn-highlight-dark;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }


  @media screen and (min-width: $screen-tablet) {
    min-width: 184px;
  }
}




form {
  width: 100%;
}


// NOT used on product page because that layout varies from normal form fields
// (no inputs or textareas on the product page allow for a more condensed form layout)
.field-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
  min-height: 48px;

  flex-wrap: wrap;
  @media (min-width: $screen-tablet) {
    flex-wrap: nowrap;
  }

  label {
    @include subHeader;
    font-size: 12px;
    padding: 16px 0 8px 0;
    flex: 0 0 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin-right: 8px;

    @media (min-width: $screen-tablet) {
      font-size: 14px;
      flex: 1 0 88px;
    }
  }

  input, textarea, .button-container {
    flex: 0 0 100%;
    @media (min-width: $screen-tablet) {
      flex: 12 1 88px;
    }
  }

  .button-container {
    text-align: center;
  }
}





// BELOW THI LINE ARE OLD FORM STYLES







/*

.form-wrapper .field-list {
  line-height: normal;
}

.form-wrapper .field-list .field {
  position: relative;
  margin: 0 0 24px;
}

.form-wrapper .form-button-wrapper--align-center {
  text-align: center;
}

.shopify-challenge__container input[type=submit].shopify-challenge__button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    text-decoration: underline;
  }
}

.form-wrapper input[type=submit], 
.shopify-challenge__container input[type=submit].shopify-challenge__button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1em 2.5em;
  color: #fff;
  background-color: #272727;
  border-width: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  text-transform: none;
}

.form-wrapper .error,
.form-wrapper .errors ul li {
  color: red;
  font-size: 14px;
  list-style: none;
  margin: 0;
}

.form-inner-wrapper .errors ul {
  margin-left: 0;
}

.form-wrapper .success {
  color: green;
  background: lightgreen;
  padding: 5px;
  text-align: center;
}

#challenge .shopify-challenge__container {
  margin-top: 4rem;

  @media (min-width: $screen-tablet) {
    margin-top: 8rem;
  }
  @media (min-width: $screen-desktop-1) {
    margin-top: 12rem;
  }
}

ul.shopify-challenge__error {
  text-align: center;
}





.form-submission-text {
  margin-top: 0;

  p {
    text-align: center;
    font-size: 2rem;
    @include subHeader;
  }
}




.cn-emailForm {
  margin-top: 2rem;
}
.cn-emailForm input {
  width: 66%;
  margin-bottom: 0;
}
.cn-emailForm input label {
  opacity: 0.5;
}
.cn-emailForm input[type=submit] {
  border-color: #444;
  margin-left: 2%;
  width: 32%;
  padding: 0.7rem 1rem !important;
}

@media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
  .cn-emailForm {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
  }
}

*/