* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'proxima nova', Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #efefef;


  .mobilenav--expanded {
    height: 100%;
    overflow: hidden;
  }
}


main {
  overflow: hidden;
}
.main--top {
  margin-top: 48px;

  @media (min-width: $screen-tablet) {
    margin-top: 64px;
  }
  @media (min-width: $screen-desktop-1) {
    margin-top: 80px;
  }
}
.main--bottom {
  margin-bottom: 64px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 88px;
  }
  @media (min-width: $screen-desktop-1) {
    margin-bottom: 128px;
  }
}


a {
  color: #000;
  text-decoration: underline;
}

a.pinterest:hover { background-color: #cd1d1f !important; }
a.instagram:hover { background-color: #b4398a !important; }
a.facebook:hover  { background-color: #43609c !important; }
a.rss:hover       { background-color: #ff9900 !important; }


.cn-imageFrame {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;

  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}


.cn-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 $site-margin--mobile;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 0;
  z-index: 1;

  @media (min-width: $screen-tablet) {
    padding: 0 32px;
  }
  @media (min-width: $screen-desktop-1) {
    padding: 0 64px;
  }
}

.cn-wrapper--top {
  @extend .main--top;
}

.cn-wrapper--narrow {
  max-width: 1280px;
}


img.full {
  width: 100%;
}


@mixin fx-allFast {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}



//this creates offset for anchor tags so they dont hide under mini menu
.cn-anchor {
  display: block;
  visibility: hidden;
}


@mixin cn-vignette {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 4vw 4vw #efefef;

  @media screen and (min-width: $screen-tablet) {
    box-shadow: inset 0 0 1.5vw 1.5vw #efefef;
  }
}


.cn-note {
  @include lightSubHeader;
  font-size: 12px;
  font-style: italic;
}


.cn-heroimage {
  border-bottom: 2px solid #000;
  width: 100%;
  padding-bottom: 66.6%;
  background-size: 100%;
  margin-bottom: 7rem;

  @media (min-width: $screen-tablet) {
    padding-bottom: 48%;
  }
}


.cn-simplepage {
  max-width: 800px;
}