@mixin navLink {
  @include lightSubHeader;

  font-size: 1.6rem;
  color: #7e7e7e;
  text-decoration: none;
  transition: border-color 0.2s ease;
  border-bottom: 1px solid transparent;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
}

$nav-height: 104px;
$mobile-nav-height: 56px;


.cnew-header {
  display: none;

  @media (min-width: $screen-desktop) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.cnew-header__nav {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-bottom: 4px solid $nav-bg;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 104px;
}

.cnew-header__nav__title {
  width: 127px;
  margin: 16px 64px;
  background-image: url('christy-natsumi-logo-stacked.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cnew-header__nav__items {
  display: none;

  @media (min-width: $screen-desktop) {
    display: flex;
    align-items: center;
    font-size: 0;
    margin-bottom: 0;
    margin-right: 48px;
    white-space: nowrap;

    a {
      margin: 0 1.6rem;
      @include navLink;

      &:hover, &.expanded { border-bottom: 1px solid #7e7e7e; }

      &.active {
        color: #000;
        font-weight: bold;
        &:hover, &.expanded { border-bottom: 1px solid #000; }
      }
    }
  }
}


.cnew-header__subnav {
  position: absolute;
  z-index: 200;
  top: $nav-height;
  background-color: $nav-bg;
  padding: 64px;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  //transform: translate3d(0, -8px, 0);
  transition: opacity .25s ease, transform 0.5s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  &.expanded {
    //transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

.cnew-header__subnav__items {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.cnew-header__subnav__items__item {
  width: 21%;
  height: 100%;
  text-align: center;

  &:hover .cnew-header__subnav__items__item__text { border-bottom: 1px solid #7e7e7e; }
  &:hover .cnew-header__subnav__items__item__img  { box-shadow: 0 0 0 1px #7e7e7e; }
}

.cnew-header__subnav__items__item__img {
  width: 100%;
  padding-bottom: 66%;
  background-color: #fff;
  background-size: cover;
  transition: box-shadow 0.2s ease;
}

.cnew-header__subnav__items__item__text {
  margin-top: 2.4rem;
  @include navLink;
}


.cnew-header__subnav__items__links {
  border-left: 1px solid #7e7e7e;
  width: 21%;
  padding: 1.2rem 0 1.2rem 1.6rem;
  margin: -2.4rem 0;

  a {
    padding: 1.2rem 0;
    display: block;

    span {
      @include navLink;
    }
  }

  @media (min-width: $screen-desktop) {
    a:hover span { border-bottom: 1px solid #7e7e7e; }
  }
}

.cnew-header__subnav__items__links--education {
  width: 34%;
}













.cnew-header-spacer {
  height: $mobile-nav-height;

  @media (min-width: $screen-desktop) {
    height: $nav-height;
  }
}


.cn-headerNotice {
  @include subHeader;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-top: 6rem;
  padding: 1.4rem 0;

  span {
    color: $color-highlight;
  }
}

.cn-headerNotice__wrapper {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: bold;
}