@mixin homeBlock {
  display: flex;;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 96px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 192px;
  }
  @media (min-width: $screen-desktop) {
  }
}

@mixin homeBlock__img {
  width: 100%;
  padding-bottom: 50%;
  background-color: #7e7e7e;
}

@mixin homeBlock__text {
  width: 100%;
  text-align: center;
}

@mixin homeBlock__text__title {
  @include serifHeader;
  color: #666;
  margin-top: 16px;
  margin-bottom: 24px;

  br {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    margin-bottom: 32px;

    br {
      display: block;
    }
  }
  @media (min-width: $screen-desktop) {
  }
}


.cn-home__hero {
  width: 100%;
  margin-bottom: 64px;
  position: relative;
  text-align: center;
  background-size: cover;

  padding-bottom: 100%;
  background-image: url("{{ 'christy-natsumi-home-hero--mobile.jpg' | asset_url }}");
  @media (min-width: $screen-tablet) {
  }
  @media (min-width: $screen-desktop) {
    padding-bottom: 40%;
    background-image: url("{{ 'christy-natsumi-home-hero--web.jpg' | asset_url }}");
  }
}

.cn-home__hero__text {
  position: absolute;
  color: #fff;

  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $screen-tablet) {
    //left: 64px;
    //top: 64px;
    transform: translateX(0);
  }
  @media (min-width: $screen-desktop) {
    left: auto;
    top: auto;
    bottom: 64px;
    right: 64px;
  }
}

.cn-home__hero__text__intro {
  @include serifHeader;
  white-space: nowrap;
}

.cn-home__hero__text__subhead {
  @include subHeader;
  font-size: 12px;

  @media (min-width: $screen-tablet) {
    font-size: 14px;
  }
  @media (min-width: $screen-desktop) {
  }
}




.cn-home__wedding-rings {
  @include homeBlock;

  @media (min-width: $screen-tablet) {
    margin-bottom: 64px;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__wedding-rings__img {
  @include homeBlock__img;

  @media (min-width: $screen-tablet) {
    width: 40%;
    margin-right: 8px;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__wedding-rings__text {
  @include homeBlock__text;

  @media (min-width: $screen-tablet) {
    width: 40%;
    margin-left: 8px;
    text-align: left;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__wedding-rings__text__title {
  @include homeBlock__text__title;

  @media (min-width: $screen-desktop) {
    margin-bottom: 128px;
  }
}




.cn-home__new-arrivals {
  @include homeBlock;
  justify-content: flex-end;
}

.cn-home__new-arrivals__img {
  @include homeBlock__img;

  @media (min-width: $screen-tablet) {
    width: 50%;
    padding-bottom: 30%;
    margin-right: 8px;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__new-arrivals__text {
  @include homeBlock__text;

  @media (min-width: $screen-tablet) {
    width: 30%;
    margin-left: 8px;
    text-align: left;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__new-arrivals__text__title {
  @include homeBlock__text__title;
}




.cn-home__customer-favorites {
  text-align: center;
  @include homeBlock;

  @media (min-width: $screen-tablet) {
    .cn-categoryproduct:nth-child(4) {
      display: none;
    }
  }
  @media (min-width: $screen-desktop) {
    .cn-categoryproduct:nth-child(4) {
      display: inline-block;
    }
  }
}

.cn-home__customer-favorites__text {
  @include homeBlock__text__title;
}

.cn-home__customer-favorites__imgs {
  width: 100%;
  margin-bottom: 3rem;
}




.cn-home__custom-jewelry {
  @include homeBlock;
  justify-content: flex-end;
  align-items: center;
}

.cn-home__custom-jewelry__img {
  @include homeBlock__img;
  order: 1;

  @media (min-width: $screen-tablet) {
    order: 2;
    width: 50%;
    margin-left: 8px;
    padding-bottom: 30%;
    background-color: #999;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__custom-jewelry__text {
  @include homeBlock__text;
  order: 2;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: 30%;
    margin-right: 8px;
    text-align: right;
  }
}

.cn-home__custom-jewelry__text__title {
  @include homeBlock__text__title;
}





.cn-home__featured-in {
  @include serifHeader;
  color: #666;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 64px 0;
}

.cn-home__featured-in__wrapper {
  @extend .cn-wrapper;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 64px;
}

.cn-home__featured-in__wrapper__item {
  display: inline-block;
  width: 256px;
  margin: 32px;
  height: 64px;
  background-color: #ccc;
}








.cn-home__homeMenuImage--email {
  cursor: default;
  background-image: url('homeMenuImage--email--1x1.jpg');

  @media (min-width: $screen-desktop) {
    background-image: url('homeMenuImage--email.jpg');
  }
}

