@mixin homeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 96px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 192px;
  }
  @media (min-width: $screen-desktop) {
  }
}

@mixin homeBlock__img {
  width: 100%;
  padding-bottom: 50%;
  background-color: #cccccc;
  background-size: cover;
}

@mixin homeBlock__text {
  width: 100%;
  text-align: center;
}

@mixin homeBlock__text__title {
  @include serifHeader;
  margin-top: 16px;
  margin-bottom: 24px;

  br {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    margin-bottom: 32px;

    br {
      display: block;
    }
  }
  @media (min-width: $screen-desktop) {
  }
}


.cn-home__hero {
  margin-bottom: 64px;
  position: relative;
  text-align: center;
  background-size: cover;
  display: block;

  width: 100%;
  padding-bottom: 100%;
  background-image: url("{{ 'christy-natsumi-home-hero--mobile.jpg' | asset_url }}");
  background-position: center;

  @media (min-width: $screen-tablet) {
    padding-bottom: 80%;
  }
  @media (min-width: $screen-desktop) {
    background-image: url("{{ 'christy-natsumi-home-hero--web.jpg' | asset_url }}");
    padding-bottom: 40%;
  }
}

.cn-home__hero__text {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $screen-tablet) {
    transform: translateX(0);
    left: auto;
    right: 32px;
    bottom: 32px;
  }
  @media (min-width: $screen-desktop) {
    right: 64px;
    bottom: 64px;
  }
}

.cn-home__hero__text__intro {
  @include serifHeader;
  white-space: nowrap;
  color: #fff;
}

.cn-home__hero__text__subhead {
  @include subHeader;
  font-size: 12px;
  color: #fff;

  @media (min-width: $screen-tablet) {
    font-size: 14px;
  }
  @media (min-width: $screen-desktop) {
  }
}




.cn-home__wedding-rings {
  @include homeBlock;

  @media (min-width: $screen-tablet) {
    margin-bottom: 64px;
    justify-content: flex-end;
  }
  @media (min-width: $screen-desktop) {
    justify-content: center;
  }
}

.cn-home__wedding-rings__img {
  @include homeBlock__img;

  @media (min-width: $screen-tablet) {
    width: 45%;
    padding-bottom: 58%;
    margin-right: 8px;
    background-image: url("{{ 'christy-natsumi-home-wedding--web.jpg' | asset_url }}");
  }
  @media (min-width: $screen-desktop) {
    width: 40%;
    padding-bottom: 50%;
  }
}

.cn-home__wedding-rings__text {
  @include homeBlock__text;

  @media (min-width: $screen-tablet) {
    width: 40%;
    margin-left: 8px;
    text-align: left;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__wedding-rings__text__title {
  @include homeBlock__text__title;
}




.cn-home__new-arrivals {
  @include homeBlock;

  @media (min-width: $screen-desktop) {
    justify-content: flex-end;
  }
}

.cn-home__new-arrivals__img {
  @include homeBlock__img;


  @media (min-width: $screen-tablet) {
    width: 60%;
    padding-bottom: 38%;
    margin-right: 8px;
    background-image: url("{{ 'christy-natsumi-home-mens--web.jpg' | asset_url }}");
  }
  @media (min-width: $screen-desktop) {
    width: 50%;
    padding-bottom: 30%;
  }
}

.cn-home__new-arrivals__text {
  @include homeBlock__text;

  @media (min-width: $screen-tablet) {
    width: 30%;
    margin-left: 8px;
    text-align: left;
  }
  @media (min-width: $screen-desktop) {
  }
}

.cn-home__new-arrivals__text__title {
  @include homeBlock__text__title;
}




.cn-home__customer-favorites {
  text-align: center;
  @include homeBlock;

  @media (min-width: $screen-tablet) {
    .cn-categoryproduct:nth-child(4) {
      display: none;
    }
  }
  @media (min-width: $screen-desktop) {
    .cn-categoryproduct:nth-child(4) {
      display: inline-block;
    }
  }
}

.cn-home__customer-favorites__text {
  @include homeBlock__text__title;
}

.cn-home__customer-favorites__imgs {
  width: 100%;
}




.cn-home__custom-jewelry {
  @include homeBlock;
  //justify-content: flex-end;
  align-items: center;
}

.cn-home__custom-jewelry__img {
  @include homeBlock__img;
  order: 1;

  @media (min-width: $screen-tablet) {
    order: 2;
    margin-left: 8px;
    background-image: url("{{ 'christy-natsumi-home-collection--web.jpg' | asset_url }}");

    width: 42%;
    padding-bottom: 64%;
  }
  @media (min-width: $screen-desktop) {
    width: 32%;
    padding-bottom: 50%;
  }
}

.cn-home__custom-jewelry__text {
  @include homeBlock__text;
  order: 2;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: 40%;
    margin-right: 8px;
    text-align: right;
  }
}

.cn-home__custom-jewelry__text__title {
  @include homeBlock__text__title;
}