.cn-home__hero {
  width: 100%;
  padding-bottom: 48%;
  background-color: #ddd;
  position: relative;
  text-align: center;
  background-image: url('christynatsumi-header--home-2018.07.jpg');
  background-size: cover;
}

.cn-home__hero__text {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.cn-home__hero__text__intro {
  font-family: "ahpuch apollyon", serif;
  font-size: 72px;
  color: #666;
}

.cn-home__hero__text__subhead {
  @include dolceVita;
  font-size: 14px;
  font-weight: bold;
}

.cn-home__homeMenuImage {
  position: relative;
  cursor: pointer;
  background-size: cover;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 1% 0 0 0;
  padding-bottom: 50%;

  @media (min-width: $screen-desktop) {
    padding-bottom: 32%;
  }
}

.cn-home__homeMenuImage--small {
  width: calc(50% - 1px);

  @media (min-width: $screen-tablet) {
    width: calc(50% - 2px);
  }

  @media (min-width: $screen-desktop) {
    width: calc(38% - 2px);
  }
}

.cn-home__homeMenuImage--big {
  width: calc(50% - 1px);

  @media (min-width: $screen-tablet) {
    width: calc(50% - 2px);
  }

  @media (min-width: $screen-desktop) {
    width: calc(62% - 2px);
  }
}

.cn-home__homeMenuImage--margin {
  margin-right: 2px;

  @media (min-width: $screen-tablet) {
    margin-right: 4px;
  }
}

.cn-home__homeMenuImage__text {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: all 150ms ease-in-out;
  width: calc(100% - 4rem);
  margin: 0 2rem;
}

.cn-home__homeMenuImage__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.5) 100%);
  transition: all 150ms ease-in-out;
  pointer-events: none;
}

.cn-home__homeMenuImage__form {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0;
  width: calc(100% - 8rem);
  margin: 0 4rem;
  text-align: center;
  transform: translate3d(0, calc(1.5rem - 50%), 0);
  transition: all 150ms ease-in-out;
}

.cn-home__homeMenuImage__form__content {
  font-size: 3rem;
  font-weight: lighter;
  padding-bottom: 1.5rem;
}

@media (min-width: $screen-desktop) {
  .cn-home__homeMenuImage:hover {
    .cn-home__homeMenuImage__form {
      transform: translate3d(0, -50%, 0);
      opacity: 1;
    }

    .cn-home__homeMenuImage__bg {
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
    }
  }

  .cn-home__homeMenuImage--email:hover {
    .cn-home__homeMenuImage__text {
      transform: translate3d(0, calc(-1.5rem - 50%), 0);
      opacity: 0;
    }
  }
}


.cn-home__homeMenuImage--shop {
  background-image: url('homeMenuImage--shop--1x1.jpg');

  @media (min-width: $screen-desktop) {
    background-image: url('homeMenuImage--shop.jpg');
  }
}
.cn-home__homeMenuImage--custom {
  background-image: url('homeMenuImage--custom--1x1.jpg');

  @media (min-width: $screen-desktop) {
    background-image: url('homeMenuImage--custom.jpg');
  }
}
.cn-home__homeMenuImage--about {
  background-image: url('homeMenuImage--about--1x1.jpg');

  @media (min-width: $screen-desktop) {
    background-image: url('homeMenuImage--about.jpg');
  }
}
.cn-home__homeMenuImage--email {
  cursor: default;
  background-image: url('homeMenuImage--email--1x1.jpg');

  @media (min-width: $screen-desktop) {
    background-image: url('homeMenuImage--email.jpg');
  }
}

