$p2:  0.5in;
$p4:  0.25in;
$p8:  0.125in;
$p16: 0.0625in;
$p24: 0.0416in;
$p32: 0.03125in;




.main--print {
  @media print {
    padding: 0;
    margin: 0;
  }
}

@page {
  size: A4 portrait;
  margin: 0.5in;
}


table.report-container {
  width: 100%;
}

thead.report-header {
  display: none;

  @media print {
    display: table-header-group;
  }
}


.report-header-cell {
  display: none;

  @media print {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    margin-bottom: $p2;
    width: 100%;

    img {
      width: 0.75in;
    }
  }
}


.report-header-cell__logo {
  flex: 0 0 auto;
  margin-right: $p4;
}

.report-header-cell__text {
  flex: 1 1 auto;

  @media print {
    @include lightSubHeader;
    font-size: 8pt;
  }
}

.report-header-cell__title {
  flex: 1 1 auto;
  text-align: right;

  @media print {
    @include subHeader;
    font-size: 8pt;
  }
}



#linesheet {
  background-color: #fff;
}

.cn-linesheetTitle {
  font-family: 'ahpuch apollyon', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #666;
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: left;
  border-bottom: 1px solid #ccc;


  @media print {
    font-size: 16pt;
    margin: $p8 0 0.25in;
    border-bottom: 0.008in solid #ccc;
  }
}

.cn-linesheet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  page-break-inside: avoid;
}

.cn-linesheet__item {
  width: 46%;
  flex: 0 0 48%;
}

.cn-linesheet__item__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 50%;
  margin: 0;
  background-color: #eeeeee;
  -webkit-print-color-adjust: exact;

  img {
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -45%);
  }
}

.cn-linesheet__item__img__sku {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;

  @media print {
    top: $p16;
    left: $p16;
    font-size: 7pt;
  }
}

.cn-linesheet__item__table {
  margin: 16px 0 40px;

  @media print {
    margin: $p8 0 0.4in;
  }
}

.cn-linesheet__item__table__left {
  vertical-align: top;
  display: inline-block;
  width: 53.5%;
  margin-right: 1.5%;
}

.cn-linesheet__item__table__left__title {
  @include lightSubHeader;
  font-size: 16px;
  color: #000;
  margin: 4px 0;

  @media print {
    font-size: 8pt;
    margin: $p32 0;
  }
}

.cn-linesheet__item__table__left__measurements {
  font-size: 14px;

  @media print {
    font-size: 6pt;
  }
}

.cn-linesheet__item__table__right {
  vertical-align: top;
  display: inline-block;
  width: 45%;
  border-left: 1px solid #ccc;
}

.cn-linesheet__item__table__right__option {
  font-size: 14px;
  padding: 4px 0 4px 8px;
  width: 100%;
  display: flex;

  @media print {
    font-size: 6pt;
    padding: $p32 0 $p32 $p16;
  }
}

.cn-linesheet__item__table__right__option__key {
  flex: 0 0 70%;
  font-style: italic;
}

.cn-linesheet__item__table__right__option__val {
  flex: 0 0 30%;
  text-align: right;
}