$colWidthDetails: calc(33.33% - 7px);
$colWidthDetailsTablet: calc(25% - 8px);
$labelWidthDetailsTablet: calc(50% - 7px);


.cn-product {
  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: space-between;
  }
}


//LEFT COLUMN PARENT
.cn-product__mask {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  height: 55vh;

  @media (min-width: $screen-desktop) {
    flex: 0 1 984px;
    margin-right: 64px;
    margin-top: 0;
    height: 984px;
    max-height: 90vh;
  }
}


.cn-product__mask--giftCard {
  overflow: hidden;

  @media (max-width: $screen-desktop) {
    height: 54vw;
  }

  // adjust the gift card image to align with the top of the right column details
  .cn-product__mask__slide {
    max-height: none;

    @media (min-width: $screen-desktop) {
      margin-top: -24%;
    }
  }
}


.cn-product__mask__slide {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  backface-visibility: hidden;
  top: 50%;
  left: 0;
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-10deg);
  transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  @media (min-width: $screen-desktop) {
    top: 0; // all product images align top on desktop, align center on tablet/mobile
    transform: translate3d(-50%,0,0) rotate3d(0,0,1,-10deg);
  }

  &.active {
    z-index: 100;
    opacity: 1;
    left: 50%;
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,0deg);

    @media (min-width: $screen-desktop) {
      transform: translate3d(-50%,0,0) rotate3d(0,0,1,0deg);
    }
  }

  &.active.lazyload {
    opacity: 0;
  }
}


//RIGHT COLUMN PARENT
.cn-product__details {
  flex: 0 0 444px;
}


.cn-product__tnContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}


.cn-product__tnContainer__tn {
  position: relative;
  flex: 0 1 $colWidthDetails;
  padding-bottom: $colWidthDetails;

  margin: 0 10px 10px 0;
  cursor: pointer;
  border: 1px solid #666;

  &:nth-child(3n) { margin-right: 0; }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  @media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
    flex: 0 0 $colWidthDetailsTablet;
    padding-bottom: $colWidthDetailsTablet;

    &:nth-child(3n) { margin-right: 10px; }
    &:nth-child(4n) { margin-right: 0; }
  }
}


#infinite-options-loader {
  @include serifItalic;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  min-height: 48px;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-size: 14px;

  @media (min-width: $screen-tablet) {
    font-size: 14px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 16px;
  }
}

@keyframes loading {
  from {opacity: 1;}
  to {opacity: 0.5;}
}


// selector-wrapper is created by option_selection.js to wrap options
// content-wrapper is used in this template to hold data defined in product.liquid
// infiniteoptions-container is a 3rd party plugin to give extra options (used for ring size mostly)
// they should be namespaced differently so shopify's option_selection.js does not get confused by the extra elements
.selector-wrapper,
.content-wrapper,
#infiniteoptions-container > div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  min-height: 48px;

  p {
    line-height: 20px;
    margin: 0;
  }

  label {
    @include subHeader;
    font-size: 12px;
    flex: 0 0 $colWidthDetails;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin-right: 10px;

    @media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
      flex: 0 0 $labelWidthDetailsTablet;
      text-align: right;
    }

    @media (min-width: $screen-tablet) {
      font-size: 14px;
    }
  }
}


.cn-product__options {
  display: none; // js shows this once option_selection.js is ready

  @media (min-width: $screen-tablet) and (max-width: $screen-desktop-1) {
    margin-bottom: 64px;
  }
}


.cn-product__price {
  @include serifItalic;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 28px;

  @media (min-width: $screen-tablet) {
    font-size: 32px;
  }
  @media (min-width: $screen-desktop) {
    font-size: 36px;
  }

  span {
    margin-top: 0.2em; // the specific italic font we use has an odd baseline, so this balances it out
    margin-left: 4px;
    margin-right: 16px;

    &.compare-price {
      text-decoration: line-through;
      opacity: 0.7;
    }

    &:before {
      content: '$';
      transform: translateY(-0.4em);
      display: inline-block;
      top: 0;
      font-size: 0.6em;
      font-weight: bold;
    }
  }
}


.cn-product__textTabs {
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.cn-product__textTabs__tab {
  flex: 1 1 auto;
  height: 48px;
  @include lightSubHeader;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  @include fx-allFast;

  @media (min-width: $screen-tablet) {
    font-size: 14px;
  }

  span,
  &.active:hover span {
    transition: border-color 0.2s ease;
    border-bottom: 1px solid transparent;
  }

  &:hover {
    span {
      border-bottom: 1px solid #7e7e7e;
    }
  }

  &.active {
    box-shadow: inset 0 -4px 0 0 $border-color;
    cursor: default;
  }
}

.cn-product__textBlocks {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.cn-product__textBlock {
  flex: 0 0 100%;
  opacity: 0;
  pointer-events: none;

  &:nth-child(2) {
    transform: translateX(-100%);
  }
  &:nth-child(3) {
    transform: translateX(-200%);
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}


.cn-product__related {
  text-align: center;
  margin-top: 64px;

  hr {
    border: none;
    border-top: 1px solid $border-color;
    margin-bottom: 32px;
  }
}
